.element__like-label{
    width: 22px;
    height: 19px;
    margin-left: 10px;
    background-image: url(../../../images/heart-checkbox.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.element__like-label:hover{
    opacity: .5;
}
